# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Invoices and other assets
assets/invoices/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit config
.streamlit/
